@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: white;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* ================svg style========= */

svg{
   position: absolute;
   top: 415px;
   z-index: 0;
}
@media(max-width: 1025px)
{
    svg{
        display: none;
    }
}

@media(max-width: 769px){
    svg{
        display: none;
    }
}


@media(max-width: 426px)
{
    svg{
        display: none;
    }
}

@media(max-width: 376px)
{    svg{
    display: none;
}
}
@media(max-width: 325px){
    svg{
        display: none;
    }
}


/* ============navbar style start================= */
.navbar {
    z-index: 10;
    height: 70px;
    background-color: white;
    display: grid;
    row-gap: 20px;
    position: sticky;
    top: 0px;
    grid-template-columns: auto auto auto;
}

.navbar ul li {
    list-style-type: none;
}

.navbar #start {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar #mid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar #mid a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.navbar #mid a:hover{
    color: #0F4224;
    text-shadow: 0px 0px 60px #0F4224;
}

.navbar #last {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}

.navbar #last a {
    text-decoration: none;
    color: #0F4224;
}
.navbar #last #carts sup{
    padding: 3px 6px;
    font-weight: bold;
    font-size: 10px;
    border: none;
    border-radius: 50%;
    background-color: #5EA274;
    color: white;
 }

/* ===================navbar========================= */

#logo{
    display: none;
}
#chck, #bars{
    display: none;
}
@media(max-width: 1025px)
{
    .navbar{
        overflow-x: hidden;
    }
}

@media(max-width: 769px){
.navbar{
    display: none;
    overflow-x: hidden;
}
#chck{
    display: none;
}

#logo{
    display: block;
    position: absolute;
    z-index: 11;
    margin-left: 570px;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
}

    #bars{
        display: block;
        position: relative;
        z-index: 10;
        text-align: start;
        padding: 20px;
        font-size: 30px;
        cursor: pointer;
        background-color: white;
    }
    #chck:checked~ .navbar{
        height: 400px;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    #chck:checked~ .navbar #start{
        display: none;
    }
    #chck:checked~ .navbar #mid{
        display: block;
    }
    #chck:checked~ .navbar #mid a{
        display: block;
        padding: 10px;
    }
    #chck:checked~ .navbar #last{
        display: flex;
    }
    #chck:checked~ .navbar #last a{
        text-decoration: none;
        font-size: 22px;
        display: flex;
        padding: 10px;
    }

}

@media(max-width: 426px)
{
    #logo{
        margin-left: 240px;
    }
}

@media(max-width: 376px)
{
    .navbar{
        overflow-x: hidden;
    }
    #logo{
        z-index: 11;
        margin-left: 180px;
    }
}
@media(max-width: 325px){
.navbar{
    overflow-x: hidden;
}
#logo{
    z-index: 11;
    margin-left: 140px;
}
}
/* ============================navbar style end================= */

/* ==============up-down arrow style================= */


#up-down{
    display: block;
    height: 60px;
    width: 60px;
    position: sticky;
    top: 88vh;
    left: 96%;
    background-color: #5EA274;
    display: flex;
    border-radius: 50%;
    border: 2px solid #5EA274;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
#up-down:hover{
    background-color: white;
    color: black;
    border: 1px solid;
}

#up-down i{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 15px 15px;
    color: white;
    transition: .4s;
}
#up-down i:hover{
    color: black;
    transition: .4s;
}
#up-down a{
    text-decoration: none;
}

@media(max-width: 1025px)
{
 #up-down{
    height: 60px;
    width: 60px;
 }
}

@media (max-width: 769px)
{
    #up-down{
        height: 50px;
        width: 50px;
        left: 95%;
     }
}

@media (max-width: 430px)
{
    #up-down{
        height: 50px;
        width: 50px;
        left: 94%;
     }
}

@media (max-width: 376px)
{
    #up-down{
        height: 40px;
        width: 40px;
        left: 93%;
     }
}


@media (max-width: 325px)
{
    #up-down{
        height: 35px;
        width: 35px;
        left: 92%;
     }
}
/* ===============hero section style start======================= */


.hero {
    background-color: honeydew;
    height: 620px;
    /* border: 1px solid; */
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
}

.hero #box1 {
    height: 500px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    /* border: 1px solid; */
}

.hero #box1 #para1 {
    height: 150px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* border: 1px solid; */
    font-size: 60px;
    font-weight: bold;
    color: #0F4224;
}

.hero #box1 #para2 {
    height: 70px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* border: 1px solid; */
    font-size: 16px;
    font-weight: bold;
    color: #5EA274;
}

.hero #box1 #btn {
    height: 80px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* border: 1px solid; */
}

.hero #box1 #btn button {
    padding: 18px 35px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: #5EA274;
    border-radius: 40px;
    border: none;
    outline: none;
    transition: .5s;
}

.hero #box1 #btn button:hover {
    cursor: pointer;
    transition: .3s;
    box-shadow: 5px 5px 10px grey;
}

.hero #box2 {
    height: 500px;
    width: 600px;
    /* border: 1px solid; */
    object-fit: cover;
    filter: drop-shadow(0px 0px 10px grey);
    animation: image infinite 30s step-end;
}

@keyframes image {
    0%{
        background-image: url('./Photos/Dog1.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    20% {
        background-image: url('./Photos/Dog6.webp');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    40% {
        background-image: url('./Photos/Dog2.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    60% {
        background-image: url('./Photos/Dog3.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    80% {
        background-image: url('./Photos/Dog4.webp');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    90% {
        background-image: url('./Photos/dog5.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}


/* =============media tag===================== */
@media(max-width: 1025px)
{
    .hero{
        overflow-x: hidden;
        display: flex;
    }
    .hero #box1 #para1 {
        height: 150px;
        width: 90%;
        display: block;
        font-size: 50px;
    }
    
    .hero #box1 #para2 {
        font-size: 16px;
    }
}

@media (max-width: 769px)
{
    .hero{
        height: 600px;
        overflow-x: hidden;
        display: flex;
    } 
    .hero #box1 #para1 {
        height: 150px;
        width: 90%;
        display: block;
        font-size: 40px;
    }
    
    .hero #box1 #para2 {
        font-size: 14px;
    }
}

@media (max-width: 430px)
{
    .navbar{
        overflow-x: hidden;
    }
    .hero{
        height: 900px;
        overflow-x: hidden;
        display: block;
    }
    .hero #box1 #para1 {
        height: 150px;
        width: 90%;
        display: block;
        font-size: 50px;
    }
    
    .hero #box1 #para2 {
        font-size: 16px;
    }

    .hero #box2 {
        height: 300px;
        width: 400px;
    }
}

@media (max-width: 376px)
{
    .navbar{
        overflow-x: hidden;
    }
    .hero{
        height: 900px;
        overflow-x: hidden;
        display: block;
    }
    .hero #box1 #para1 {
        height: 150px;
        width: 90%;
        display: block;
        font-size: 40px;
    }
    
    .hero #box1 #para2 {
        font-size: 14px;
    }
    .hero #box1 #btn button {
        padding: 12px 25px;
        font-size: 12px;
    }

    .hero #box2 {
        height: 300px;
        width: 400px;
        /* border: 1px solid; */
        object-fit: contain;
        filter: drop-shadow(0px 0px 10px grey);
        animation: image infinite 40s step-end;
    }
}


@media (max-width: 325px)
{
    .hero #box1 #para1 {
        height: 150px;
        width: 90%;
        display: block;
        font-size: 30px;
    }
    
    .hero #box1 #para2 {
        font-size: 12px;
    }
}


/* ===================section============================ */
section #section{
    height: 700px;
    width: 100%;
    overflow-x: hidden;
    border: 1px solid;
}

#section #box1{
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    /* border: 1px solid; */
}
#section #box1 #img-box{
    margin: 0;
    height: 400px;
    width: 600px;
    background-image: url('https://next.minimog.co/cdn/shop/files/4_f74d0f00-c053-4370-aeb8-e316a3685462.jpg?v=1630658251&width=720');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid; */
}

#section #box1 #text-box{
    margin: 0px;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* border: 1px solid; */
}
#section #box1 #text-box #para1{
    height: 120px;
    /* border: 1px solid; */
    font-size: 50px;
    font-weight: bold;
    color: #0F4224;
    display: flex;
    align-items: center;
    justify-content: start;
}
#section #box1 #text-box #para2{
    height: 120px;
    /* border: 1px solid; */
    font-size: 16px;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: start;
}
#section #box1 #text-box #btn button{
    padding: 18px 35px;
    font-size: 16px;
    font-weight: bold;
    background-color: #5EA274;
    color: white;
    border-radius: 40px;
    border: none;
    outline: none;
    transition: .5s;
}
#section #box1 #text-box #btn button:hover{
    box-shadow: 5px 5px 10px grey;
    cursor: pointer;
    transition: .4s;
}
#section #box2{
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* border: 1px solid; */
}

#section #box2 #box2-box1{
    height: 280px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    /* border: 1px solid; */
}
#section #box2 #box2-box1 img{
    transition: .5s;
}
#section #box2 #box2-box1 img:hover{
    scale: .9;
    transition: .4s;
}
#section #box2 #box2-box1 #para1{
    font-weight: bold;
    font-size: 20px;
}
#section #box2 #box2-box1 #para2{
    font-size: 16px;
    color: grey;
}

/* ======================media tag================== */
@media (max-width: 1025px)
{
   section{
    height: 1700px;
    overflow-x: hidden;
   }
   #section #box1{
    margin-top: 20px;
    grid-template-columns: auto;
    height: 900px;
}
#section #box2{
    margin-top: 40px;
    grid-template-columns: auto auto;
}
#section #box1 #img-box{
    margin: 0;
    height: 400px;
    width: 600px;
    background-image: url('https://next.minimog.co/cdn/shop/files/4_f74d0f00-c053-4370-aeb8-e316a3685462.jpg?v=1630658251&width=720');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid; */
}

#section #box1 #text-box #para1{
    font-size: 50px;
}
#section #box1 #text-box #para2{
    font-size: 18px;
}
}

@media (max-width: 769px)
{
    section{
        height: 1700px;
        overflow-x: hidden;
        display: block;
    } 
    #section #box1 #text-box #para1{
        font-size: 40px;
    }
    #section #box1{
        margin-top: 20px;
        grid-template-columns: auto;
    }
    #section #box2{
        margin-top: 40px;
        height: 40px;
        height: 700px;
        grid-template-columns: auto;
    }
    #section #box2 #box2-box1{
        height: 200px;
        width: 250px;
    }
    #section #box2 #box2-box1 #para1{
        font-weight: bold;
        font-size: 18px;
    }
    #section #box2 #box2-box1 #para2{
        font-size: 14px;
        color: grey;
    }
}

@media (max-width: 430px)
{
    section{
        height: 1650px;
        overflow-x: hidden;
        display: block;
    }
    #section #box1{
        grid-template-columns: auto;
    }
    #section #box1 #img-box{
        margin: 20px auto;
        height: 250px;
        width: 90%;
    }
    #section #box1 #text-box{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    #section #box1 #text-box #para1{
        font-size: 30px;
    }
    #section #box1 #text-box #para2{
        font-size: 14px;
    }
    #section #box2{
        height: 600px;
        grid-template-columns: auto;
    }
}

@media (max-width: 376px)
{
    section{
        height: 1650px;
        overflow-x: hidden;
        display: block;
    }
    #section #box1 #text-box #btn button{
        padding: 12px 25px;
        font-size: 14px;
    }
    #section #box1{
        grid-template-columns: auto;
        height: 600px;

    }
    #section #box2{
        height: 900px;
        grid-template-columns: auto;
    }
}

@media (max-width: 326px)
{
    section{
        height: 1650px;
        overflow-x: hidden;
        display: block;
    }
    #section #box1{
        grid-template-columns: auto;
        height: 600px;
    }
    #section #box1 #text-box{
        display: block;
        width: 90%;
        margin: 0 auto;
        height: 300px;
    }
    #section #box2 #box2-box1{
        height: 280px;
        width: 100%;
    }
    #section #box1 #text-box #para1{
        font-size: 25px;
    }
    #section #box2 #box2-box1 #para2{
        font-size: 12px;
        padding: 5px;
    }
    #section #box1 #text-box #btn button{
        padding: 12px 25px;
        font-size: 14px;
    }
    #section #box2{
        height: 550px;
        grid-template-columns: auto;
    }
}

/* =============products=============== */


#products{
    height: 700px;
    width: 100%;
    /* border: 1px solid; */
}

#products #box1{
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
}
#products #box1 #para1{
    font-weight: bold;
    font-size: 40px;
    padding: 15px;
    color: #0F4224;
}
#products #box1 #para2{
    font-size: 16px;
    color: grey;
}

#products #box2{
    height: 520px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    /* border: 1px solid; */
}
#products #box2 #box2-box1{
    height: 420px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    /* border: 1px solid; */
}
#products #box2 #box2-box1:hover{
    box-shadow: 0px 8px 15px #dfdcdc;
}
#products #box2 #box2-box1 img{
    transition: .7s;
}
#products #box2 #box2-box1 img:hover{
    scale: 1.06;
    cursor: pointer;
    transition: .5s;
}
#products #box2 #box2-box1 #para1{
    font-weight: bold;
    font-size: 18px;
}
#products #box2 #box2-box1 #para2{
    font-weight: bold;
    font-size: 16px;
    color: #5EA274;
}
#products #box2 #box2-box1 button{
    background-color: transparent;
    padding: 12px;
    width: 90%;
    border: 2px solid #0F4224;
    border-radius: 40px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
#products #box2 #box2-box1 button:hover{
    background-color: #5EA274;
    border-color: #5EA274;
    color: white;
}

/* ===============media====================================== */

@media(max-width: 1025px)
{
    #products{
        height: 1150px;
        overflow-x: hidden;
    }
    #products #box2{
        grid-template-columns: auto auto auto;
    }
    #products #box1 #para1{
        font-size: 40px;
    }
    #products #box1 #para2{
        font-size: 20px;
    }
}


@media(max-width: 769px)
{
    #products{
        height: 1100px;
        overflow-x: hidden;
    }
    #products #box1{
        display: block
    }
    #products #box2{
        grid-template-columns: auto auto;
    }
}

@media(max-width: 430px){
#products{
    height: 1900px;
    width: 100%;
    display: block;
    overflow-x: hidden;
    /* border: 1px solid; */
}

#products #box1{
    display: block
}
#products #box1 #para1{
    font-weight: bold;
    font-size: 30px;
}
#products #box1 #para2{
    font-size: 16px;
    color: grey;
}

#products #box2{
    display: grid;
    grid-template-columns: auto;
    column-gap: 0px;
    /* border: 1px solid; */
}
#products #box2 #box2-box1{
    height: 420px;
    width: 270px;
}
}


@media(max-width: 325px)
{
    #products #box1 #para2{
        font-size: 12px;
    }
}

/* ===============rigth for your pet===================== */


.right-way{
    height: 700px;
    width: 100%;
    /* border: 1px solid; */
}

.right-way #box1{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border: 1px solid; */
}
.right-way #box1 #para1{
    font-weight: bold;
    font-size: 40px;
    color: #0F4224;
}
.right-way #box1 #para2{
    font-size: 17px;
    padding: 10px;
    color: grey;
}
.right-way #box2{
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    /* border: 1px solid; */
}

.right-way #box2-box1{
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid; */
}
.right-way #box2-box1 #img{
    height: 270px;
    width: 100%;
    overflow: hidden;
    /* border: 1px solid; */
}
.right-way #box2-box1 #img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}
.right-way #box2-box1 #img img:hover{
    transform: scale(1.07);
    transition: .5s;
}
.right-way #box2-box1 #text{
    height: 80px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    transition: .5s;
    /* border: 1px solid; */
}
.right-way #box2-box1 #text:hover{
    color: #0F4224;
    transition: .3s;
    cursor: pointer;
}

/* ================media====================== */
@media(max-width: 1025px)
{
    .right-way{
        height: 1000px;
        width: 100%;
        overflow-x: hidden;
    }
    .right-way #box2{
        grid-template-columns: auto auto;
    }
}

@media(max-width: 769px)
{
    .right-way{
        height: 1300px;
        width: 100%;
        overflow-x: hidden;
        /* border: 1px solid; */
    }
    .right-way #box2{
        grid-template-columns: auto;
    }
    .right-way #box2-box1 #img{
        height: 270px;
        width: 100%;
        align-items: center;
        overflow: hidden;
    }
    .right-way #box2-box1 #img img{
        height: 100%;
        width: 100%;
    }
}

@media(max-width: 430px)
{
    .right-way{
        height: 1350px;
        width: 100%;
        overflow-x: hidden;
        /* border: 1px solid; */
    }
    
    .right-way #box1{
        height: 200px;
        width: 100%;
        display: block
    }
    .right-way #box1 #para1{
        text-align: center;
        font-size: 25px;
        padding: 5px;
    }
    .right-way #box1 #para2{
        text-align: center;
        font-size: 16px;
    }
    .right-way #box2{
        grid-template-columns: auto;
    }
    
    .right-way #box2-box1{
        height: 350px;
        width: 350px;
        display: block;
    }
}

@media(max-width: 376px)
{
    .right-way #box2-box1{
        height: 350px;
        width: 300px;
        display: block;
    }
}

@media(max-width: 326px)
{
    .right-way #box2-box1{
        height: 350px;
        width: 280px;
        display: block;
    }
}

/* ==================story style==================== */

.story{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid; */
}
.story #box1{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    gap: 10px;
}
.story #box1 #para1{
    font-weight: bold;
    color: #0F4224;
    font-size: 35px;
    padding: auto;
}
.story #box1 #para1 span{
    color: #5EA274;
}
.story #box1 #para2{
    color: grey;
    padding: 10px;
}
.story #box1 button{
    padding: 12px 20px;
    border: 2px solid #0F4224;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    color: #0F4224;
    transition: .5s;
}
.story #box1 button:hover{
    background-color: #5EA274;
    border-color: #5EA274;
    color: white;
    cursor: pointer;
    scale: 1.08;
    transition: .5s;
}
.story #box2{
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    /* border: 1px solid; */
}
.story #box2 #box2-box1{
    height: 300px;
    width: 300px;
    overflow: hidden;
    /* border: 1px solid; */
}
.story #box2 #box2-box1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}
.story #box2 #box2-box1 img:hover{
    scale: 1.05;
    transition: .4s;
}

/* =================media====================== */
@media(max-width: 1025px)
{
    .story{
        height: 900px;
        width: 100%;
        display: block;
        overflow-x: hidden;
    }
    .story #box2{
        height: 400px;
        width: 100%;
        grid-template-columns: auto auto;
        gap: 60px;
    }
}

@media(max-width: 769px)
{
    .story{
        height: 900px;
        width: 100%;
        display: block;
        overflow-x: hidden;
    }
    .story #box2{
        height: 400px;
        width: 100%;
        grid-template-columns: auto auto;
        gap: 20px;
    }
}

@media(max-width: 430px)
{
    .story{
        height: 1500px;
        width: 100%;
        display: block;
        overflow-x: hidden;
    }
    .story #box1{
        height: 230px;
        width: 100%;
        display: flex;
        align-content: center;
    }
    .story #box1 #para1{
        text-align: center;
        font-size: 25px;
        padding: 10px;
    }
    .story #box1 p{
        text-align: center;
    }
    .story #box2{
        height: 400px;
        width: 100%;
        grid-template-columns: auto;
        gap: 20px;
    }
}

/* =================footer================= */

footer{
    height: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0F4224;
}
footer #box1{
    height: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid; */
}
footer #box1 #box1-box1{
    height: 300px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    /* border: 1px solid; */
}
footer #box1 #box1-box1 #para1{
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
footer #box1 #box1-box1 #para2{
    font-size: 16px;
    padding: 20px 10px;
    color: white;
}
footer #box1 #box1-box1 input{
    margin-left: 10px;
    height: 50px;
    width:80%;
    border-radius: 5px;
    padding: 0px 40px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
}
footer #box1 #box1-box1 button{
    margin: 10px;
    padding: 15px 40px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    background-color: green;
    cursor: pointer;
}
footer #box1 #box1-box1 button:hover{
    background-color: white;
    color: green;
}


footer #box1 #box1-box2{
    height: 300px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid; */
}

footer #box1 #box1-box2 ul li{
    list-style-type: none;
    font-size: 16px;
    color: white;
    padding: 10px;
    cursor: pointer;
}
footer #box1 #box1-box2 ul li:hover{
    text-decoration: underline;
}
footer #box1 #box1-box2 ul #main{
    font-size: 18px;
    font-weight: bold;
}
footer #box2{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
footer #box2 #first{
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
footer #box2 #first a{
    color: white;
}
footer #box2 #second{
    height: 50px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-weight: bold; */
    color: white;
}
footer #box2 #third{
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

/* =========================media============================ */

@media(max-width: 1025px)
{
    footer #box2 #third img{
        width: 95%;
    }
}

@media(max-width: 769px)
{
    footer{
        display: block;
        overflow-x: hidden;
    }
    footer #box1 #box1-box1 #para1{
        font-size: 30px;
    }
    footer #box2 #second{
        width: 40%;
    }
    footer #box2 #third img{
        width: 95%;
    }
}

@media(max-width: 430px)
{
    footer{
        height: 700px;
        width: 100%;
        display: block;
        overflow-x: hidden;
    }
    footer #box1{
        height: 300px;
        width: 100%;
        display: block;
        /* border: 1px solid; */
    }
    footer #box1 #box1-box1{
        height: 200px;
        width: 100%;
        display: block;
        margin: 0 auto;
        /* border: 1px solid; */
    }
    footer #box1 #box1-box1 #para1{
        padding: 10px;
        font-size: 30px;
        text-align: center;
    }
    footer #box1 #box1-box1 #para2{
        font-size: 14px;
        color: white;
        text-align: center;
    }
    footer #box1 #box1-box1 input{
        width: 90%;
    }

    footer #box1 #box1-box2{
        height: 300px;
        width: 100%;
        display: flex;
    }
    footer #box1 #box1-box1 input{
        width: 90%;
        padding: 10px;
        height: 35px;
        font-size: 12px;
    }
    footer #box1 #box1-box1 button{
        margin: 10px;
        padding: 10px 20px;
        height: 35px;
        font-size: 12px;
    }

    footer #box2{
        margin-top: 200px;
        width: 100%;
        display: block;
    
    }
    footer #box2 #first{
        width: 100%;
        display: flex;
    }
    footer #box2 #first a{
        color: white;
    }
    footer #box2 #second{
        width: 100%;
        display: block;
        text-align: center;
    }
    footer #box2 #third{
        width: 100%;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width: 376px)
{
    footer #box1 #box1-box1 input{
        width: 90%;
        padding: 10px;
        height: 35px;
        font-size: 12px;
    }
    footer #box1 #box1-box1 button{
        margin: 10px;
        padding: 10px 20px;
        height: 35px;
        font-size: 12px;
    }
    footer #box2 #third{
        width: 100%;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    footer #box2 #third img{
        width: 90%;
    }

}
@media(max-width: 326px)
{
    footer #box1 #box1-box2{
        margin-top: 20px;
    }
    footer #box1 #box1-box2 ul li{
        font-size: 14px;
    }
    footer #box1 #box1-box2 ul #main{
        font-size: 16px;
    }
    footer #box1 #box1-box1 input{
        width: 90%;
        padding: 10px;
        height: 35px;
        font-size: 12px;
    }
    footer #box1 #box1-box1 button{
        margin: 10px;
        padding: 10px 20px;
        height: 35px;
        font-size: 12px;
    }
}

#discount{
    position: fixed;
    z-index: 8;
    top: 320px;
    height: 40px;
    width: 200px;
    border: 1px solid;
    margin-left: -82px;
    transform: rotate(270deg);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #DA3F3F;
    border-radius: 5px;
    border: none;
}

#discount p{
    font-weight: bold;
    color: white;
}
#discount i{
    color: white;
}

@media(max-width:1024px)
{
 #discount{
    display: none;
 }
}