@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f5f6dc;
}

html {
  overflow-x: hidden;
}

/* ============navbar style start================= */
.navbar {
  z-index: 10;
  height: 70px;
  background-color: white;
  display: grid;
  row-gap: 20px;
  position: sticky;
  top: 0px;
  grid-template-columns: auto auto auto;
}

.navbar ul li {
  list-style-type: none;
}

.navbar #start {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar #mid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar #mid a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.navbar #last {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}

.navbar #last a {
  color: black;
}

.navbar #last #carts sup {
  padding: 3px 6px;
  font-weight: bold;
  font-size: 10px;
  border: none;
  border-radius: 50%;
  background-color: black;
  color: white;
}

#logo {
  display: none;
}

#chck, #bars {
  display: none;
}

@media (max-width: 769px) {
  .navbar {
    display: none;
    overflow-x: hidden;
  }
  #chck {
    display: none;
  }
  #logo {
    display: block;
    position: absolute;
    z-index: 11;
    margin-left: 580px;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
  }
  #bars {
    display: block;
    position: relative;
    z-index: 10;
    text-align: start;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    background-color: white;
  }
  #chck:checked ~ .navbar {
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  #chck:checked ~ .navbar #start {
    display: none;
  }
  #chck:checked ~ .navbar #mid {
    display: block;
  }
  #chck:checked ~ .navbar #mid a {
    display: block;
    padding: 10px;
  }
  #chck:checked ~ .navbar #last {
    display: flex;
  }
  #chck:checked ~ .navbar #last a {
    text-decoration: none;
    font-size: 22px;
    display: flex;
    padding: 10px;
  }
}
@media (max-width: 426px) {
  .navbar {
    overflow-x: hidden;
  }
  #logo {
    margin-left: 240px;
  }
}
@media (max-width: 376px) {
  .navbar {
    overflow-x: hidden;
  }
  #logo {
    margin-left: 180px;
  }
}
@media (max-width: 325px) {
  .navbar {
    overflow-x: hidden;
  }
  #logo {
    margin-left: 150px;
  }
}
#hero {
  height: 1500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#hero #box1 {
  height: 1150px;
  width: 20%;
}

#hero #box1 #filter {
  font-size: 25px;
  color: #0F4224;
  font-weight: bold;
}

#hero #box1 #Availability {
  padding: 15px 0px;
}

#hero #box1 #checkbox {
  padding: 10px 0px;
}

#hero #box1 #price {
  padding: 20px 0px;
  font-weight: bold;
  font-size: 16px;
}

#hero #box1 #input {
  width: 100%;
}

#hero #box1 #price-range {
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 150px;
  box-shadow: 0px 0px 1px #0F4224;
  padding: 18px 10px;
}

#hero #box1 select {
  padding: 18px 0px;
  width: 60%;
  border: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 0px 1px #0F4224;
}

#hero #box2 {
  height: 1500px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#hero #box2 #box2-box1 {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero #box2 #box2-box1 #products {
  font-size: 45px;
  font-weight: bolder;
  padding: 15px 0px;
  color: #0F4224;
}

#hero #box2 #box2-box1 a {
  text-decoration: none;
  color: #0F4224;
}

#hero #box2 #box2-box2 {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: start;
}

#hero #box2 #box2-box2 select {
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  box-shadow: 0px 0px 1px black;
}

#hero #box2 #box2-box3 {
  height: 1300px;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#hero #box2 #box2-box3 div {
  height: 400px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
}

#hero #box2 #box2-box3 div:hover {
  box-shadow: 0px 8px 15px #dfdcdc;
}

#hero #box2 #box2-box3 div #img img {
  overflow: hidden;
  width: 280px;
  object-fit: contain;
}

#hero #box2 #box2-box3 div #img:hover {
  box-shadow: none;
  scale: 1.06;
  transition: 0.8s;
}

#hero #box2 #box2-box3 div #img img {
  object-fit: contain;
}

#hero #box2 #box2-box3 div #para {
  font-weight: bold;
  font-size: 18px;
  color: #5EA274;
}

@media (max-width: 769px) {
  #hero {
    height: 2400px;
    overflow-x: hidden;
    display: block;
  }
  #hero #box1 {
    display: none;
  }
  #hero #box2 {
    height: 1500px;
    width: 100%;
    display: block;
  }
  #hero #box2 #box2-box1 {
    height: 150px;
    width: 100%;
    display: block;
    text-align: center;
  }
  #hero #box2 #box2-box3 {
    height: 2200px;
    width: 100%;
    grid-template-columns: auto;
    align-items: center;
  }
  #hero #box2 #box2-box3 div {
    height: 400px;
    width: 500px;
    border-radius: 5px;
  }
}
@media (max-width: 430px) {
  #hero {
    height: 2400px;
    overflow-x: hidden;
    display: block;
  }
  #hero #box1 {
    display: none;
  }
  #hero #box2 {
    height: 1500px;
    width: 100%;
    display: block;
  }
  #hero #box2 #box2-box1 {
    height: 150px;
    width: 100%;
    display: block;
    text-align: center;
  }
  #hero #box2 #box2-box3 {
    height: 2200px;
    width: 100%;
    grid-template-columns: auto;
    align-items: center;
  }
  #hero #box2 #box2-box3 div {
    height: 300px;
    width: 300px;
    border-radius: 5px;
  }
}
/* =================footer================= */
footer {
  height: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0F4224;
}

footer #box1 {
  height: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid; */
}

footer #box1 #box1-box1 {
  height: 300px;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  /* border: 1px solid; */
}

footer #box1 #box1-box1 #para1 {
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

footer #box1 #box1-box1 #para2 {
  padding: 20px;
  color: white;
}

footer #box1 #box1-box1 input {
  margin-left: 10px;
  height: 50px;
  width: 400px;
  border-radius: 5px;
  padding: 0px 40px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
}

footer #box1 #box1-box1 button {
  margin: 10px;
  padding: 15px 40px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background-color: green;
  cursor: pointer;
}

footer #box1 #box1-box1 button:hover {
  background-color: white;
  color: green;
}

footer #box1 #box1-box2 {
  height: 300px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid; */
}

footer #box1 #box1-box2 ul li {
  list-style-type: none;
  font-size: 16px;
  color: white;
  padding: 10px;
  cursor: pointer;
}

footer #box1 #box1-box2 ul li:hover {
  text-decoration: underline;
}

footer #box1 #box1-box2 ul #main {
  font-size: 18px;
  font-weight: bold;
}

footer #box2 {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer #box2 #first {
  height: 50px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer #box2 #first a {
  color: white;
}

footer #box2 #second {
  height: 50px;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

footer #box2 #third {
  height: 50px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

/* =========================media============================ */
@media (max-width: 1025px) {
  footer #box2 #third img {
    width: 95%;
  }
}
@media (max-width: 769px) {
  footer #box2 #third img {
    width: 95%;
  }
  footer #box2 #second {
    width: 20%;
  }
  footer #box1 #box1-box1 input {
    height: 40px;
    width: 400px;
  }
  footer #box1 #box1-box1 button {
    padding: 10px 30px;
    height: 40px;
  }
}
@media (max-width: 430px) {
  footer {
    height: 700px;
    width: 100%;
    display: block;
    overflow-x: hidden;
  }
  footer #box1 {
    height: 300px;
    width: 100%;
    display: block;
    /* border: 1px solid; */
  }
  footer #box1 #box1-box1 {
    height: 200px;
    width: 550px;
    display: block;
    margin: 0 auto;
    /* border: 1px solid; */
  }
  footer #box1 #box1-box1 #para1 {
    padding: 10px;
    font-size: 30px;
  }
  footer #box1 #box1-box1 #para2 {
    font-size: 14px;
    color: white;
    text-align: left;
  }
  footer #box1 #box1-box1 input {
    height: 40px;
    width: 300px;
    font-size: 12px;
  }
  footer #box1 #box1-box1 button {
    font-size: 12px;
    height: 40px;
    padding: 10px;
    width: 90px;
  }
  footer #box1 #box1-box2 {
    height: 300px;
    width: 100%;
    display: flex;
  }
  footer #box2 {
    margin-top: 200px;
    width: 100%;
    display: block;
  }
  footer #box2 #first {
    width: 100%;
    display: flex;
  }
  footer #box2 #first a {
    color: white;
  }
  footer #box2 #second {
    width: 100%;
    display: block;
    text-align: center;
  }
  footer #box2 #third {
    width: 100%;
    cursor: pointer;
    justify-content: center;
  }
  footer #box2 #third img {
    width: 90%;
    cursor: pointer;
    justify-content: center;
  }
}
@media (max-width: 376px) {
  footer #box1 #box1-box1 input {
    height: 35px;
    width: 250px;
    font-size: 12px;
  }
  footer #box1 #box1-box1 button {
    font-size: 12px;
    height: 35px;
    padding: 10px;
    width: 80px;
  }
}
@media (max-width: 325px) {
  footer #box1 #box1-box1 input {
    height: 35px;
    width: 200px;
    font-size: 12px;
  }
  footer #box1 #box1-box1 button {
    font-size: 12px;
    height: 35px;
    padding: 10px;
    width: 80px;
  }
}

/*# sourceMappingURL=product.css.map */
